@charset "utf-8";

@font-face {
  font-family: "Times";
  src: local("Times New Roman"), url("https://lenina.kr/web/upload/drawcode/fonts/times.ttf") format("truetype");
  font-weight: normal;
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "Times";
  src: local("Times New Roman Bold"), url("https://lenina.kr/web/upload/drawcode/fonts/timesbd.ttf") format("truetype");
  font-weight: bold;
  unicode-range: U+0030-0039;
}

/* RESET */
:root {
  --color-white: #fff;
}
figure {
  margin: 0;
}
img {
  width: 100%;
}

/* COMMON */
.times-font {
  font: 400 60px/1.4 Times, serif;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.lenina-button__basic {
  display: block;
  width: 217px;
  height: 54px;
  background: url("../img/button_frame__basic.png") no-repeat center / contain;
  padding: 7px;
}

.lenina-button__basic span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 2px;
  transition: all 0.5s;
}
.lenina-button__basic:hover span {
  color: #5e4d4d;
  background-color: var(--color-white);
}

.lenina-button__ribbon {
  position: relative;
  display: block;
  width: 313px;
  height: 80px;
  padding: 7px;
}
.lenina-button__ribbon span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  transition: all 0.5s;
  border-radius: 2px;
}
.lenina-button__ribbon::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 116px;
  background: url("../img/button_frame__ribbon.png") no-repeat center / contain;
  opacity: 0.8;
  background-blend-mode: multiply;
  filter: grayscale(50%);
  pointer-events: none;
  /* opacity: 0.8;
  background-blend-mode: multiply;
  filter: grayscale(50%); */
}

/* --font-main: 'Times New Roman', 'Noto Sans KR', sans-serif;
--layout-padding: 16px;
--color-main: #111;
--color-black: #111;
--color-gray: #AAA;
--color-darkgray: #999;
--color-gray-line: #DFDFDF;
--color-gray-bg: #F4F4F6;
} */
/* #5E4D4D */
/* MAIN */
#main {
  overflow-x: hidden;
}
#main > section {
  position: relative;
  width: 100%;
}

.lenina-visual {
}

.lenina-text-banner {
  padding: 180px 0 230px;
}
.lenina-text-banner figure {
  width: 80px;
  height: 80px;
  margin: 0 auto 32px;
}
.lenina-text-banner h2 {
  font-size: 60px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
}

.lenina-item-category {
}

.lenina-item-category .sticky-element {
  /* position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; */
}
.lenina-item-category__swiper {
  position: relative;
  width: auto;
  height: 100vh;
  /* padding-bottom:115.78%; */
  overflow: hidden;
}
.lenina-item-category ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.lenina-item-category .swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  float: left;
  overflow: hidden;
  background-color: #000;
}

.lenina-item-category .slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 1; /* 활성 슬라이드가 가장 앞에 오도록 z-index 설정 */
}
.lenina-item-category .slide-inner figure {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  z-index: 1; /* 활성 슬라이드가 가장 앞에 오도록 z-index 설정 */
}
.lenina-item-category__swiper .swiper-slide-active .slide-inner {
  z-index: 2; /* 활성 슬라이드에 더 높은 z-index 설정 */
}
/* .lenina-item-category__swiper .swiper-slide:nth-child(1) {
  background: url("../img/category_01.jpg") no-repeat center / contain;
}
.lenina-item-category__swiper .swiper-slide:nth-child(2) {
  background: url("../img/category_02.jpg") no-repeat center / contain;
}
.lenina-item-category__swiper .swiper-slide:nth-child(3) {
  background: url("../img/category_03.jpg") no-repeat center / contain;
}
.lenina-item-category__swiper .swiper-slide:nth-child(4) {
  background: url("../img/category_04.jpg") no-repeat center / contain;
} */

.lenina-item-category figure {
}
.lenina-item-category img {
  height: 100%;
  width: auto;
  min-width: 100%;
}
.lenina-item-category__desc {
  position: absolute;
  bottom: 80px;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  z-index: 1;
}
.lenina-item-category__title {
  position: relative;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  color: var(--color-white);
  padding: 0 20px;
  margin-bottom: 40px;
}
.lenina-item-category__title:after,
.lenina-item-category__title:before {
  position: absolute;
  top: calc(50% + 7px);
  width: 32px;
  height: 28px;
  content: "";
  background: url("../img/emblem_02.png") no-repeat center / contain;
}
.lenina-item-category__title:before {
  left: 0;
  transform: translate(-100%, -50%);
}
.lenina-item-category__title:after {
  right: 0;
  transform: translate(100%, -50%);
}
/* 
#horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
}
#horizontal > section {
  width: 100%;
} */
.lenina-img-banner {
  /* height: 100vh; */
  /* background: url("../img/img_banner_bg.jpg") repeat center center / auto 100%; */
}

.lenina-img-banner__bg,
.lenina-img-banner__bg img {
  height: 100%;
}
.lenina-img-banner__text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.lenina-img-banner__text-wrap::before {
  width: 101px;
  height: 66px;
  flex-shrink: 0;
  content: "";
  background: url("../img/emblem_03.png") no-repeat center / contain;
  margin-bottom: 54px;
}
.lenina-img-banner__text-wrap figure {
  flex-shrink: 0;
  width: 431px;
  height: 100px;
  margin-bottom: 40px;
}
.lenina-img-banner__text-wrap h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: rgba(128, 65, 52, 0.7);
  margin-bottom: 64px;
}
.lenina-img-banner__text-wrap span {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  color: rgba(128, 65, 52, 0.7);
}
.lenina-img-banner__text-wrap h2:after {
  display: block;
  width: 1px;
  height: 50px;
  content: "";
  background-color: #a27d71;
  margin: 31px auto 0;
}
.lenina-img-banner__text-wrap a {
  flex-shrink: 0;
}
.lenina-img-banner__img-list {
  position: absolute;
  width: 1920px;
  max-width: 100%;
  height: 1080px;
  /* max-height: 100%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lenina-img-banner__img-list {
  pointer-events: none;
}

.lenina-img-banner__img {
  position: absolute;
}

.lenina-img-banner__img[data-img="01"] {
  top: 92px;
  left: 104px;
  width: 392px;
  height: 506px;
}
.lenina-img-banner__img[data-img="02"] {
  left: -40px;
  top: 655px;
  width: 619px;
  height: 344px;
}
.lenina-img-banner__img[data-img="03"] {
  top: 87px;
  right: -27px;
  width: 621px;
  height: 347px;
}
.lenina-img-banner__img[data-img="04"] {
  top: 480px;
  right: 113px;
  width: 341px;
  height: 487px;
}
.lenina-img-banner__img[data-img="05"] {
  top: 787px;
  right: 377px;
  width: 250px;
  height: 238px;
}

.lenina-new-arrivals {
  height: 100vh;
  background: #edd8d2;
  padding: 209px 0 275px;
  overflow: hidden;
}

.lenina-new-arrivals__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.lenina-new-arrivals__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 0 240px;
  margin-bottom: 40px;
}
.lenina-new-arrivals__title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.lenina-new-arrivals__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 700;
}
.lenina-new-arrivals__link b {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.lenina-new-arrivals__link span {
  width: 14px;
  height: 5.4px;
}

.lenina-new-arrivals__item-list {
  /* 얘 때문에 가로스크롤 어쩌지 ㅋ */
  position: absolute;
  display: flex;
  padding: 0 240px;
  gap: 16px;
  margin-bottom: 67px;
}
.new-arrivals-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  /* width: 348px; */
  min-width: 348px;
}
.new-arrivals-item__img {
  width: 100%;
  /* height: 464px; */
  min-height: 464px;
  aspect-ratio: 0.75/1;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.new-arrivals-item__name {
  color: #000;

  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.new-arrivals-item__price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.new-arrivals-item__price b {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.new-arrivals-item__price s {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
}

.lenina-new-arrivals__scrollbar-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 2px;
  padding: 0 240px;
  overflow: hidden;
}

.lenina-new-arrivals__scrollbar {
  position: relative;
  width: calc(100vw * 1000 / 1920);
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.lenina-new-arrivals__scrollbar-thumb {
  position: absolute;
  width: 100px;
  height: 100%;
  border-radius: 40px;
  background-color: #000;
}
.lenina-bottom-text {
  padding-top: 183px;
}
.lenina-bottom-text h2 {
  width: 1066px;
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
}
