@charset "utf-8";
@font-face {
  font-family: "Times";
  src: local("Times New Roman"), url("https://lenina.kr/web/upload/drawcode/fonts/times.ttf") format("truetype");
  font-weight: normal;
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "Times";
  src: local("Times New Roman Bold"), url("https://lenina.kr/web/upload/drawcode/fonts/timesbd.ttf") format("truetype");
  font-weight: bold;
  unicode-range: U+0030-0039;
}

/* RESET */
:root {
  --color-white: #fff;
  --font-play: "Playfair Display", serif;
}
figure {
  margin: 0;
}
img {
  width: 100%;
}
section {
  overflow-x: hidden;
}
/* MAIN */
main {
  /* 폰트 굵기 이슈 반영 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  overscroll-behavior: none;
}
section {
  position: relative;
  width: 100%;
}
/* COMMON */
.times-font {
  font: 400 60px/1.4 Times, serif;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
/*BUTTON*/
.lenina-button__basic {
  display: block;
  width: 217px;
  height: 54px;
  background: url("https://lenina.kr/web/upload/2024_renewal/pc/button_frame__basic.svg") no-repeat center / contain;
  padding: 7px;
}
.lenina-button__basic span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 2px;
  transition: all 0.5s;
}
.lenina-button__basic:hover span {
  color: #5e4d4d;
  background-color: var(--color-white);
}
.lenina-button__ribbon {
  position: relative;
  display: block;
  width: calc(100vh * (313 / 1080));
  height: calc(100vh * (80 / 1080));
  padding: calc(100vh * (15 / 1080)) calc(100vh * (12 / 1080)) calc(100vh * (11 / 1080));
}
.lenina-button__ribbon span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: calc(100vh * (20 / 1080));
  line-height: 1;
  font-weight: 400;
  color: #596a83;
  transition: all 0.5s;
  border-radius: 8px;
}
.lenina-button__ribbon:hover span {
  background-color: rgba(89, 106, 131, 0.3);
}
.lenina-button__ribbon::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: calc(100vh * (116 / 1080));
  background: url("https://lenina.kr/web/upload/2024_renewal/pc/button_frame__ribbon.svg") no-repeat center / contain;
  pointer-events: none;
}
/* 2 */
.lenina-button__basic_02 {
  display: block;
  width: 217px;
  height: 54px;
  background: url("https://lenina.kr/web/upload/2024_renewal/pc/button_frame__basic_02.png") no-repeat center / contain;
  padding: 7px;
}
.lenina-button__basic_02 span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #111;
  border-radius: 2px;
  transition: all 0.5s;
}
.lenina-button__basic_02:hover span {
  color: #fff;
  background-color: #98989889;
}
/*MAIN VISUAL*/
.main-visual {
  display: flex;
  aspect-ratio: 16/9;
  overflow: hidden;
  & #vimeo-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}

/*MAIN TEXT BANNER*/
.main-text-banner {
  padding: 220px 0 220px;
  background: #fff;
  & figure {
    width: 80px;
    height: 80px;
    margin: 0 auto 24px;
  }
  & h2 {
    font: 400 32px/ 1.6 var(--font-play);
    text-align: center;
    color: #111; /* 숫자폰트 case-sensitive forms 적용 */
    font-variant-numeric: lining-nums; /* high-level property */
    -moz-font-feature-settings: "lnum"; /* low-level (old Firefox) */
    -webkit-font-feature-settings: "lnum"; /* low-level (old Webkit) */
    font-feature-settings: "lnum" on; /* low-level (all new browsers) */
  }
  & b {
    font: 400 60px/1.6 var(--font-play);
  }
}

/* MAIN EVENT BANNER */
.main-event {
  position: relative;
  display: flex;
  & > div {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    background: #dddbd6;
  }
  & .main-event__desc {
    position: absolute;
    left: 50%;
    width: 100%;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    transform: translateX(-50%);
  }
  .main-event__title {
    position: relative;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 40px;
  }
}

/* SWIM WEAR */
.main-swim-wear {
  height: 100vh;
  background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/holiday_slide_06.jpg") no-repeat top center /
    cover;
  & .main-swim-wear__inner {
    position: relative;
    height: 100vh;
  }
  & .main-swim-wear__desc {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 80px;
    z-index: 1;
  }
  & .main-swim-wear__title {
    position: relative;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-white);
    padding: 0 20px;
    margin-bottom: 40px;
  }
  & .main-swim-wear__title:after,
  & .main-swim-wear__title:before {
    position: absolute;
    top: calc(50% + 7px);
    width: 32px;
    height: 28px;
    content: "";
    background: url("https://lenina.kr/web/upload/2024_renewal/pc/emblem_02.svg") no-repeat center / contain;
  }
  & .main-swim-wear__title:before {
    left: 0;
    transform: translate(-100%, -50%);
  }
  & .main-swim-wear__title:after {
    right: 0;
    transform: translate(100%, -50%);
  }
}

/*MAIN CATEGORY*/
.main-category {
  height: 100vh;
  background-color: #fff;
  & .main-category__inner {
    position: relative;
    -webkit-transform: translateZ(1);
  }
  & .main-category__inner.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2; /* fixed 상태 */
  }
  & .main-category__swiper {
    height: 100vh;
  }
  & .swpier-wrapper {
    transition-timing-function: linear;
  }
  & .swiper-slide {
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  & .slide-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  & .main-category__swiper .swiper-slide:nth-child(1) .slide-inner {
    background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/category_01.jpg") no-repeat top center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(2) .slide-inner {
    background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/category_02.jpg") no-repeat top center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(3) .slide-inner {
    background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/category_03.jpg") no-repeat top center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(4) .slide-inner {
    background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/category_04.jpg") no-repeat top center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(5) .slide-inner {
    background: #edd8d2 url("https://lenina.kr/web/upload/2024_renewal/pc/category_05.jpg") no-repeat top center / cover;
  }
  & .main-category__desc {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 80px;
    z-index: 1;
  }
  & .main-category__title {
    position: relative;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
    color: var(--color-white);
    padding: 0 20px;
    margin-bottom: 40px;
  }
  & .main-category__title:after,
  & .main-category__title:before {
    position: absolute;
    top: calc(50% + 7px);
    width: 32px;
    height: 28px;
    content: "";
    background: url("https://lenina.kr/web/upload/2024_renewal/pc/emblem_02.svg") no-repeat center / contain;
  }
  & .main-category__title:before {
    left: 0;
    transform: translate(-100%, -50%);
  }
  & .main-category__title:after {
    right: 0;
    transform: translate(100%, -50%);
  }
}

/*MAIN GALLERY*/
.main-gallery {
  display: grid;
  place-content: center;
  width: 100%;
  height: calc(100vh - 70px);
  background: url("https://lenina.kr/web/upload/2024_renewal/pc/gallery_bg.png") no-repeat center / cover;
  overflow: hidden; /* &::after { position: absolute; top: 0; left: 0; content: ""; width: 100%; height: 90px; background: url("https://lenina.kr/web/upload/2024_renewal/pc/line_top.svg") repeat-x bottom left / cover; } 
 &::before { position: absolute; bottom: 0; left: 0; content: ""; width: 100%; height: 60px; background: url("https://lenina.kr/web/upload/2024_renewal/pc/line_bottom.svg") repeat-x top left / cover; } */
  & .main-gallery__text-wrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  & .main-gallery__text-wrap::before {
    width: calc(100vh * (101 / 1080));
    height: calc(100vh * (66 / 1080));
    flex-shrink: 0;
    content: "";
    background: url("https://lenina.kr/web/upload/2024_renewal/pc/emblem_04.svg") no-repeat center / contain;
    margin-bottom: calc(100vh * (54 / 1080));
  }
  & .main-gallery__text-wrap figure {
    flex-shrink: 0;
    width: calc(100vh * (431 / 1080));
    height: calc(100vh * (100 / 1080));
    margin-bottom: calc(100vh * (40 / 1080));
  }
  & .main-gallery__title {
    font-size: calc(100vh * (32 / 1080));
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #1c1c1c;
    margin-bottom: calc(100vh * (64 / 1080));
  }
  & .main-gallery__title:after {
    display: block;
    width: calc(100vh * (1 / 1080));
    height: calc(100vh * (50 / 1080));
    content: "";
    background-color: #1c1c1c;
    margin: calc(100vh * (31 / 1080)) auto 0;
  }
  & .main-gallery__title span {
    font-size: calc(100vh * (32 / 1080));
    font-weight: 400;
    line-height: 1;
    color: #1c1c1c;
  }
  & .main-gallery__text-wrap a {
    flex-shrink: 0;
  }
  & .main-gallery__img-list {
    position: absolute;
    width: calc(100vh * (1920 / 1080));
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
  }
  & .main-gallery__img {
    position: absolute;
    transform-origin: top center;
    box-shadow: 0 0 calc(100vh * (10 / 1080)) rgba(0, 0, 0, 0.2);
  }
  & .main-gallery__img img {
    width: 100%;
    height: 100%;
  }
  & .main-gallery__img[data-img="01"] {
    top: calc(100vh * (92 / 1080));
    left: calc(100vh * (104 / 1080));
    width: calc(100vh * (392 / 1080));
    height: calc(100vh * (506 / 1080));
  }
  & .main-gallery__img[data-img="02"] {
    top: calc(100vh * (87 / 1080));
    right: calc(100vh * (-26 / 1080));
    width: calc(100vh * (620 / 1080));
    height: calc(100vh * (347 / 1080));
  }
  & .main-gallery__img[data-img="03"] {
    /* top: calc(100vh * (665 / 1080)); */
    bottom: calc(100vh * (81 / 1080));
    left: calc(100vh * (-40 / 1080));
    width: calc(100vh * (619 / 1080));
    height: calc(100vh * (344 / 1080));
  }
  & .main-gallery__img[data-img="04"] {
    /* top: calc(100vh * (481 / 1080)); */
    bottom: calc(100vh * (113 / 1080));
    right: calc(100vh * (113 / 1080));
    width: calc(100vh * (341 / 1080));
    height: calc(100vh * (487 / 1080));
    z-index: 1;
  }
  & .main-gallery__img[data-img="05"] {
    /* bottom: calc(100vh * (787 / 1080)); */
    bottom: calc(100vh * (55 / 1080));
    right: calc(100vh * (397 / 1080));
    width: calc(100vh * (270 / 1080));
    height: calc(100vh * (385 / 1080));
    z-index: 0;
  }
}

/*MAIN PRODUCTS*/
.main-products {
  height: 100vh;
  background: #ededed;
  padding: calc(100vh * (209 / 1080)) 0 calc(100vh * (257 / 1080));
  overflow: hidden;
  & .main-products__top {
    position: absolute;
    top: calc(100vh * (209 / 1080));
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 calc(100vh * (240 / 1080));
  }
  & .main-products__title {
    color: #000;
    font-size: calc(100vh * (24 / 1080));
    font-weight: 700;
    line-height: normal;
  }
  & .main-products__link {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  & .main-products__link b {
    color: #000;
    font-size: calc(100vh * (14 / 1080));
    font-weight: 700;
  }
  & .main-products__link span {
    width: calc(100vh * (14 / 1080));
    height: calc(100vh * (5.4 / 1080));
    margin-top: calc(100vh * (2 / 1080));
  }
  & .main-products__item-list {
    position: absolute;
    top: calc(100vh * (277 / 1080));
    padding: 0 calc(100vh * (240 / 1080));
    display: flex;
    gap: 16px;
  }
  & .card-product {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vh * (348 / 1080));
  }
  & .card-product__img {
    width: 100%;
    aspect-ratio: 348/464;
    flex-shrink: 0;
    margin-bottom: calc(100vh * (20 / 1080));
  }
  & .card-product__name {
    color: #000;
    font-size: calc(100vh * (16 / 1080));
    font-weight: 400;
    line-height: normal;
    margin-bottom: calc(100vh * (8 / 1080)); /* 한줄처리 */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .card-product__name span {
    font-size: calc(100vh * (16 / 1080)) !important;
  }
  & .card-product__price {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .card-product__price b {
    max-width: 50%;
    color: #000;
    font-size: calc(100vh * (16 / 1080));
    font-weight: 700; /* 한줄처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .card-product__price s {
    max-width: 50%;
    color: rgba(0, 0, 0, 0.4);
    font-size: calc(100vh * (16 / 1080));
    font-weight: 400;
    text-decoration-color: inherit; /* 한줄처리 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .card-product__price:has(b:empty) s {
    max-width: 50%;
    color: #000;
    font-size: calc(100vh * (16 / 1080));
    font-weight: 700;
    text-decoration: none;
  }
  & .main-products__scrollbar-wrap {
    position: absolute;
    top: calc(100vh * (870 / 1080));
    width: 100%;
    height: calc(100vh * (20 / 1080));
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  & .main-products__scrollbar {
    position: relative;
    width: clamp(0, calc(100vh * (1000 / 1080)), 80%);
    height: 100%;
    margin: 0 auto;
  }
  & .main-products__scrollbar:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    content: "";
    height: calc(100vh * (2 / 1080));
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
  }
  & .main-products__scrollbar-thumb {
    position: absolute;
    width: calc(100vh * (300 / 1080));
    height: 100%;
  }
  & .main-products__scrollbar-thumb:after {
    position: absolute;
    top: 50%;
    left: 0;
    width: calc(100vh * (300 / 1080));
    content: "";
    height: calc(100vh * (2 / 1080));
    background-color: #000;
    transform: translateY(-50%);
  }
  & .main-products__scrollbar-thumb:hover:after {
  }
}

/*MAIN BOTTOM TEXT BANNER*/
.main-bottom-text-banner {
  padding: 183px 10px 2px;
  background-color: #fff;
  overflow: hidden;
  & h2 {
    width: 1066px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
  }
  .main-bottom__logo-wrap {
    padding-top: 112px;
  }
  .main-bottom__logo {
    width: 641px;
    height: 150px;
    margin: 0 auto 197px;
  }
  .main-bottom__logo img {
    width: 100%;
    height: 100%;
  }
}

.split-line {
  overflow: hidden;
}

/* popup */
.de-popup {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 380px;
}
.de-popup .inner {
  position: relative;
  z-index: 0;
  border-radius: 0px 100px 0px 0px;
  overflow: hidden;
}
.de-popup .inner img {
  display: block;
  width: 100%;
  height: 100%;
}
.de-popup .buttons {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.de-popup .buttons > p {
  display: block;
  padding: 16px 24px;
  font-size: 14px;
  cursor: pointer;
}
.de-popup .de-popup-scrollbar {
  position: absolute;
  left: 50%;
  bottom: 32px;
  z-index: 10;
  width: 144px;
  background: rgba(255, 255, 255, 0.4);
  transform: translateX(-50%);
}
.de-popup .de-popup-scrollbar .swiper-scrollbar-drag {
  background: #fff;
}
