/* Pretendard */
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./font/pretendard/Pretendard-Black.woff2) format("woff2"), url(./font/pretendard/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./font/pretendard/Pretendard-ExtraBold.woff2) format("woff2"), url(./font/pretendard/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./font/pretendard/Pretendard-Bold.woff2) format("woff2"), url(./font/pretendard/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./font/pretendard/Pretendard-SemiBold.woff2) format("woff2"), url(./font/pretendard/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./font/pretendard/Pretendard-Medium.woff2) format("woff2"), url(./font/pretendard/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./font/pretendard/Pretendard-Regular.woff2) format("woff2"), url(./font/pretendard/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./font/pretendard/Pretendard-Light.woff2) format("woff2"), url(./font/pretendard/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./font/pretendard/Pretendard-ExtraLight.woff2) format("woff2"), url(./font/pretendard/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./font/pretendard/Pretendard-Thin.woff2) format("woff2"), url(./font/pretendard/Pretendard-Thin.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./font/pretendard/Pretendard-Thin.woff2) format("woff2"), url(./font/pretendard/Pretendard-Thin.woff) format("woff");
}

/* Arsenal */
@font-face {
  font-family: "Arsenal";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Arsenal"), url(./font/arsenal/Arsenal-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Arsenal";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Arsenal Bold"), url(./font/arsenal/Arsenal-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Arsenal";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("Arsenal Italic"), url(./font/arsenal/Arsenal-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Arsenal";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local("Arsenal Bold Italic"), url(./font/arsenal/Arsenal-BoldItalic.ttf) format("truetype");
}
