.ec-base-product ul.prdList01 {padding:0 5px;}
.ec-base-product { position: relative; }
.ec-base-product .title { margin:0 0 17px; }
.ec-base-product .title h2 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product .title h3 { font-weight:normal; font-size:20px; color:#2e2e2e; text-align:center; }
.ec-base-product img { vertical-align:middle; }
.ec-base-product a[href^='/product/detail.html'] > img { border:1px solid #ececec; }

.ec-base-product .prdList > li { position: relative; vertical-align: top; }
.ec-base-product .prdList .chk { position:absolute; top:-10px; left:0; right:0; display:block; margin:0 0 10px; }
.ec-base-product .prdList .thumbnail { position: relative; text-align: center; }
.ec-base-product .prdList .thumbnail .prdImg { position:relative; }
.ec-base-product .prdList .thumbnail a img { display: block; width: 100%; }
.ec-base-product .prdList .thumbnail .prdImg .soldout { position: absolute; width: 100%; left: 0; right: 0; bottom: 0; height: 36px; line-height: 36px; background-color: rgba(237, 236, 240, 0.8); pointer-events: none; }
.ec-base-product .prdList .thumbnail .wish { position:absolute; right:3px; bottom:4px; z-index:1; cursor:pointer; }
.ec-base-product .prdList .thumbnail .prdIcon { position:absolute; top:0; left:0; width:100%; height:100%; background-repeat:no-repeat; }

.ec-base-product .prdList .thumbnail .button { float:right; margin:0 0 4px; }
.ec-base-product .prdList .thumbnail .button img { margin:0 2px 0 0; cursor:pointer; }
.ec-base-product .prdList .thumbnail .button .option { display:inline; position:relative; }
.ec-base-product .prdList .thumbnail .button .likeButton { display:inline-block; margin:0 5px; }
.ec-base-product .prdList .thumbnail .button .likeButton button { font-family:verdana; color:#9a9a9a; letter-spacing:-1px; background:none; }
.ec-base-product .prdList .thumbnail .button .likeButton button img { margin:0; vertical-align:middle; }
.ec-base-product .prdList .thumbnail .button .likeButton button strong {height:16px; vertical-align:middle; }
.ec-base-product .prdList .thumbnail .button .likeButton.selected button { color:#353535; }

.ec-base-product .prdList .icon { vertical-align: middle; }
.ec-base-product .prdList .promotion img { margin:0 0 6px 0; }

.ec-base-product .prdList .description { margin-top: 28px; text-align: center; }
.ec-base-product .prdList .description .name { display: block; font-weight: 500; margin-bottom: 14px; font-family: var(--font-product); font-size: 17px;}
.ec-base-product .prdList .description .name:lang(ko) {
    font-weight: 300; /* 한국어만 적용 */
}
.ec-base-product .prdList .description .name span { font-size: 17px !important; }

.ec-base-product .prdList .spec li { margin: 0 0 6px 0; line-height: 1.47; }
.ec-base-product .prdList .spec li[data-title="최적할인가"],
.ec-base-product .prdList .spec li[data-title="할인판매가"],
.ec-base-product .prdList .spec li[data-title="판매가"],
.ec-base-product .prdList .spec li[data-title="소비자가"] { margin: 0; line-height: 1.73; }

.ec-base-product .prdList .de-prd-price { position: absolute; top: 10px; right: 10px; pointer-events: none; }
.ec-base-product .prdList .de-prd-price > div { display: none; }
.ec-base-product .prdList .de-prd-price .de-salerate { display: block; width: 60px; height: 60px; line-height: 60px; border-radius: 100%; background: rgba(237, 236, 240, 0.8); font-size: 15px; text-align: center; }
.ec-base-product .prdList .description .mileage { display:block; }
.ec-base-product .prdList .description span.grid { display:block; }

/* List 02 */
.ec-base-product .prdList02 { border-top: 1px solid #D9D9D9; }
.ec-base-product .prdList02 > li { display: flex; padding: 31px 60px; border-bottom: 1px solid #D9D9D9; }
.ec-base-product .prdList02 > li .thumbnail { width: 180px; height: 180px; border-radius: 100%; overflow: hidden; }
.ec-base-product .prdList02 > li .thumbnail img { width: 100%; height: 100%; object-fit: cover; }
.ec-base-product .prdList02 > li .desc-wrap { width: calc(100% - 180px); padding-left: 60px; display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.ec-base-product .prdList02 > li .desc-wrap .description { margin: 0; padding-right: 20px; }
.ec-base-product .prdList02 > li .desc-wrap .buttons { display: inline-block; width: 142px; }
.ec-base-product .prdList02 > li .desc-wrap .buttons > p { position: relative; width: 142px; height: 41px; margin: 5px 0; cursor: pointer; }
.ec-base-product .prdList02 > li .desc-wrap .buttons > p img { position: absolute; left: 0; top: 0; opacity: 0; width: 100%; height: 100%; }
.ec-base-product .prdList02 > li .desc-wrap .buttons > p .bg { display: block; width: 142px; height: 41px; background-size: 142px 41px; background-repeat: no-repeat; background-position: center center; }
.ec-base-product .prdList02 > li .desc-wrap .buttons > .wish img[icon_status="off"] + .bg { background-image: url('/web/upload/drawcode/icons/btn_prd_wish.svg'); }
.ec-base-product .prdList02 > li .desc-wrap .buttons > .wish img[icon_status="on"] + .bg { background-image: url('/web/upload/drawcode/icons/btn_prd_wish_on.svg'); }
.ec-base-product .prdList02 > li .desc-wrap .buttons > .basket .bg { background-image: url('/web/upload/drawcode/icons/btn_prd_buy.svg'); }

@media screen and (max-width: 1650px) {
    .ec-base-product .prdList02 > li .desc-wrap { flex-direction: column; align-items: flex-start; justify-content: center; }
    .ec-base-product .prdList02 > li .desc-wrap .buttons { display: flex; width: 100%; padding: 20px 0 0; }
    .ec-base-product .prdList02 > li .desc-wrap .buttons > p { display: inline-block; margin: 0 5px 0 0; }
    .ec-base-product .prdList02 > li .desc-wrap .buttons > p:last-child { margin: 0; }
}

/* list slide */
.ec-base-product.list-wrap { margin-bottom: 50px; padding: 60px var(--layout-padding); }
.ec-base-product .de-bestlist .prdList { counter-reset: idx-number; }
.ec-base-product .de-bestlist .prdList .list { counter-increment: idx-number; }
/*.ec-base-product .de-bestlist .prdList .list::before { position: absolute; left: 0px; top: 0px; z-index: 10; content: counter(idx-number); display: block; width: 30px; height: 30px; line-height: 30px; text-align: center; background: rgba(237, 236, 240, 0.8); font-size: 12px; pointer-events: none; }
.ec-base-product .de-newlist .prdList .list::before { position: absolute; left: px; top: 0px; z-index: 10; content: ''; display: block; width: 60px; height: 22px; line-height: 22px; text-align: center; background: rgba(237, 236, 240, 0.8); font-size: 10px; pointer-events: none; }*/
.ec-base-product.list-wrap .swiper-scrollbar-horizontal { margin: 50px auto 0; width: 402px; }

/* grid */
.ec-base-product ul.prdList01 { width: 100%; display: flex; flex-wrap: wrap; }
.ec-base-product ul.grid3 > li { width: 33.3333%; margin-bottom: 50px; }
.ec-base-product ul.grid4 > li { width:25%; margin-bottom: 50px; padding: 0 5px 50px 5px;}
.ec-base-product .swiper .prdList li { margin-bottom: 0; }

/* right display */
.ec-base-product ul.grid2 li:after { content:""; display:block; clear:both; }
.ec-base-product ul.grid2 li .thumbnail { float:left; width:220px; text-align:left; margin:0; }
.ec-base-product ul.grid2 li .description { float:left; width:247px; padding:0 20px; }
.ec-base-product ul.grid2 li .description .chk { position:static; text-align:left; }

/* module="product_ListItem" */
.ec-base-product .spec { margin:0; }
.ec-base-product .spec li .title { font-weight:normal; vertical-align:top; }
.ec-base-product .spec li .title span { vertical-align:top; }
.ec-base-product .spec li .color .chips { display: inline-block; width: 12px; height: 12px; margin-right: 5px; }
.ec-base-product .spec li .color .chips[style*="#FFFFFF"] { border: 1px solid #ccc; }

.ec-base-product .discountPeriod { display:inline-block; z-index:10; position:relative; width:55px; height:19px; vertical-align:middle; }
.ec-base-product .layerDiscountPeriod { left:50%; top:26px; width:247px; margin:0 0 0 -124px; }
.ec-base-product .layerDiscountPeriod strong.title { display:block; margin:0 0 12px; padding:0 35px 0 0; font-weight:bold; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .content p { margin:2px 0 0; font-size:11px; line-height:16px; color:#757575; letter-spacing:-1px; }
.ec-base-product .layerDiscountPeriod .content p strong { font-weight:normal; font-size:12px; color:#2e2e2e; }
.ec-base-product .layerDiscountPeriod .content p strong span { font-size:11px; }

.ec-base-product .prdList .shippingFee { position:relative; display:inline-block; }
.ec-base-product .prdList .shippingFee .button { display:inline-block; float:none; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip { z-index:11; display:block; margin:0 0 0 -170px; width:360px; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip table th { width:40px; }
.ec-base-product .prdList .shippingFee .ec-base-tooltip table th,
.ec-base-product .prdList .shippingFee .ec-base-tooltip table td { padding:7px 10px 8px 10px; }

.ec-base-product .btnTooltip { position:relative; display:inline-block; }
.differentialShipping { display:none; overflow:hidden; position:absolute; left:50%; top:17px; z-index:100; width:350px; margin:0 0 0 -176px; }
.differentialShipping h3.title { margin:0; height:35px; padding:0 35px 0 19px; border:0; color:#fff; font-size:14px; line-height:35px; background:#495164; }
.differentialShipping .content { padding:12px 18px 14px 18px; border:1px solid #757575; border-top:0; text-align:center; background:#fff; }
.differentialShipping .close { position:absolute; right:14px; top:12px; }
.differentialShipping .close img { cursor:pointer; }
.differentialShipping .content ul { color:#757575; line-height:25px; }
.differentialShipping .content li { overflow:hidden; }
.differentialShipping .content li strong { float:left; font-weight:normal; }
.differentialShipping .content li span { float:right; color:#2e2e2e; }
.differentialShipping .content .info { margin:7px 0 0; padding:7px 0 0; border-top:1px dotted #b0b1b3; color:#80aeef; text-align:right; }

/* Thumbnail icon position */
.ec-product-bgLT { background-position:left top; }
.ec-product-bgLC { background-position:left center; }
.ec-product-bgLB { background-position:left bottom; }
.ec-product-bgRT { background-position:right top; }
.ec-product-bgRC { background-position:right center; }
.ec-product-bgRB { background-position:right bottom; }
.ec-product-bgCT { background-position:center top; }
.ec-product-bgCC { background-position:center center; }
.ec-product-bgCB { background-position:center bottom; }