@charset "utf-8";

@font-face {
  font-family: "Times";
  src: local("Times New Roman"), url("https://lenina.kr/web/upload/drawcode/fonts/times.ttf") format("truetype");
  font-weight: normal;
  unicode-range: U+0030-0039;
}
@font-face {
  font-family: "Times";
  src: local("Times New Roman Bold"), url("https://lenina.kr/web/upload/drawcode/fonts/timesbd.ttf") format("truetype");
  font-weight: bold;
  unicode-range: U+0030-0039;
}

/* RESET */
:root {
  --color-white: #fff;
}
figure {
  margin: 0;
}
img {
  width: 100%;
}

/* COMMON */
.times-font {
  font: 400 60px/1.4 Times, serif;
}
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.lenina-button__basic {
  display: block;
  width: 217px;
  height: 54px;
  background: url("../img/button_frame__basic.svg") no-repeat center / contain;
  padding: 7px;
}

.lenina-button__basic span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  color: var(--color-white);
  border-radius: 2px;
  transition: all 0.5s;
}
.lenina-button__basic:hover span {
  color: #5e4d4d;
  background-color: var(--color-white);
}

.lenina-button__ribbon {
  position: relative;
  display: block;
  width: 313px;
  height: 80px;
  padding: 7px;
}
.lenina-button__ribbon span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: #52371e;
  transition: all 0.5s;
  border-radius: 2px;
}
.lenina-button__ribbon::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 116px;
  background: url("../img/button_frame__ribbon.svg") no-repeat center / contain;
  opacity: 0.8;
  background-blend-mode: multiply;
  filter: grayscale(50%);
  pointer-events: none;
  /* opacity: 0.8;
  background-blend-mode: multiply;
  filter: grayscale(50%); */
}

/* --font-main: 'Times New Roman', 'Noto Sans KR', sans-serif;
--layout-padding: 16px;
--color-main: #111;
--color-black: #111;
--color-gray: #AAA;
--color-darkgray: #999;
--color-gray-line: #DFDFDF;
--color-gray-bg: #F4F4F6;
} */
/* #5E4D4D */
/* MAIN */
#main {
  background-color: #fff;
}
section {
  position: relative;
  width: 100%;
}

.main-visual {
  /* position: sticky;
  top: 0;
  left: 0; */
  aspect-ratio: 16/9;
  background: url("../img/main_banner.jpg");

  & #vimeo-player {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    /* background-size: cover; */
    object-fit: cover;
  }
}
.main-text-banner {
  padding: 180px 0 230px;
  background: #fff;

  & figure {
    width: 80px;
    height: 80px;
    margin: 0 auto 32px;
  }

  & h2 {
    font-size: 60px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
  }
}
.main-category {
  height: 200vh;
  overflow: hidden;

  & .main-category__list {
  }

  & .main-category__swiper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  & .swiper-slide {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  & .swpier-wrapper {
    transition-timing-function: linear;
  }
  & .main-category__desc {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 80px;
    z-index: 1;
  }
  & .main-category__swiper .swiper-slide:nth-child(1) {
    background: #edd8d2 url("../img/category_01.jpg") no-repeat center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(2) {
    background: #edd8d2 url("../img/category_02.jpg") no-repeat center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(3) {
    background: #edd8d2 url("../img/category_03.jpg") no-repeat center / cover;
  }
  & .main-category__swiper .swiper-slide:nth-child(4) {
    background: #edd8d2 url("../img/category_04.jpg") no-repeat center / cover;
  }
  & .main-category__title {
    position: relative;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    color: var(--color-white);
    padding: 0 20px;
    margin-bottom: 40px;
  }
  & .main-category__title:after,
  & .main-category__title:before {
    position: absolute;
    top: calc(50% + 7px);
    width: 32px;
    height: 28px;
    content: "";
    background: url("../img/emblem_02.svg") no-repeat center / contain;
  }
  & .main-category__title:before {
    left: 0;
    transform: translate(-100%, -50%);
  }
  & .main-category__title:after {
    right: 0;
    transform: translate(100%, -50%);
  }
}

/* 
#horizontal {
  display: flex;
  flex-wrap: nowrap;
  width: 200%;
}
#horizontal > section {
  width: 100%;
} */
.main-gallery {
  aspect-ratio: 1920/1080;
  overflow-x: hidden;
  background-color: #eabeb0;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 90px;
    background: url("../img/line_top.png") repeat-x top left / 100%;
  }
  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 60px;
    background: url("../img/line_bottom.png") repeat-x top left / 100%;
  }

  & .main-gallery__text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  & .main-gallery__text-wrap::before {
    width: 101px;
    height: 66px;
    flex-shrink: 0;
    content: "";
    background: url("../img/emblem_03.svg") no-repeat center / contain;
    margin-bottom: 54px;
  }
  & .main-gallery__text-wrap figure {
    flex-shrink: 0;
    width: 431px;
    height: 100px;
    margin-bottom: 40px;
  }
  & .main-gallery__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: rgba(128, 65, 52, 0.7);
    margin-bottom: 64px;
  }
  & .main-gallery__title:after {
    display: block;
    width: 1px;
    height: 50px;
    content: "";
    background-color: #a27d71;
    margin: 31px auto 0;
  }
  & .main-gallery__title span {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    color: rgba(128, 65, 52, 0.7);
  }

  & .main-gallery__text-wrap a {
    flex-shrink: 0;
  }
  & .main-gallery__img-list {
    position: absolute;
    width: 1920px;
    max-width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  & .main-gallery__img {
    position: absolute;
  }
  & .main-gallery__img img {
    height: 100%;
  }

  /* & .main-gallery__img[data-img="01"] {
    top: 92px;
    left: 104px;
    width: 392px;
    height: 506px;
  }
  & .main-gallery__img[data-img="02"] {
    left: -40px;
    top: 655px;
    width: 619px;
    height: 344px;
  }
  & .main-gallery__img[data-img="03"] {
    top: 87px;
    right: -27px;
    width: 621px;
    height: 347px;
  }
  & .main-gallery__img[data-img="04"] {
    top: 480px;
    right: 113px;
    width: 341px;
    height: 487px;
  }
  & .main-gallery__img[data-img="05"] {
    top: 787px;
    right: 377px;
    width: 250px;
    height: 238px;
  } */
  & .main-gallery__img[data-img="01"] {
    top: calc(100vw * (92 / 1920));
    left: calc(100vw * (104 / 1920));
    width: calc(100vw * (392 / 1920));
    height: calc(100vw * (506 / 1920));
  }
  & .main-gallery__img[data-img="02"] {
    top: calc(100vw * (87 / 1920));
    right: calc(100vw * (-27 / 1920));
    width: calc(100vw * (621 / 1920));
    height: calc(100vw * (347 / 1920));
    border: 1px solid red;
  }
  & .main-gallery__img[data-img="03"] {
    bottom: calc(100vw * (81 / 1920));
    left: calc(100vw * (-40 / 1920));
    width: calc(100vw * (619 / 1920));
    height: calc(100vw * (344 / 1920));
  }
  & .main-gallery__img[data-img="04"] {
    bottom: calc(100vw * (113 / 1920));
    right: calc(100vw * (113 / 1920));
    width: calc(100vw * (341 / 1920));
    height: calc(100vw * (487 / 1920));
  }
  & .main-gallery__img[data-img="05"] {
    bottom: calc(100vw * (55 / 1920));
    right: calc(100vw * (377 / 1920));
    width: calc(100vw * (250 / 1920));
    height: calc(100vw * (238 / 1920));
  }
}

.main-products {
  height: 100vh;
  background: #edd8d2;
  padding: 209px 0 275px;
  overflow: hidden;

  /* & .main-products__inner {
    position: absolute;
    top: calc(100vh * (209 / 1080));
    left: 0;
    width: 100%;
  } */

  & .main-products__top {
    position: absolute;
    top: calc(100vh * (209 / 1080));
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 240px;
  }
  & .main-products__title {
    color: #000;
    font-size: calc(100vh * (24 / 1080));
    font-weight: 700;
    line-height: normal;
  }
  & .main-products__link {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  & .main-products__link b {
    color: #000;
    font-size: calc(100vh * (14 / 1080));
    font-weight: 700;
  }
  & .main-products__link span {
    width: calc(100vh * (14 / 1080));
    height: calc(100vh * (5.4 / 1080));
  }

  & .main-products__item-list {
    position: absolute;
    top: calc(100vh * (277 / 1080));
    display: flex;
    padding: 0 240px;
    gap: 16px;
  }
  & .card-product {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vh * (348 / 1080));
  }
  & .card-product__img {
    width: 100%;
    aspect-ratio: 348/464;
    flex-shrink: 0;
    margin-bottom: calc(100vh * (20 / 1080));
  }
  & .card-product__name {
    color: #000;
    font-size: calc(100vh * (16 / 1080));
    font-weight: 400;
    line-height: normal;
    margin-bottom: calc(100vh * (8 / 1080));

    /* 한줄처리 */
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  & .card-product__price {
    display: flex;
    align-items: center;
    gap: 8px;
    letter-spacing: -1px;
  }
  & .card-product__price b {
    color: #000;
    font-size: calc(100vh * (16 / 1080));
    font-weight: 700;
  }
  & .card-product__price s {
    color: rgba(83, 19, 19, 0.4);
    font-size: calc(100vh * (16 / 1080));
    font-weight: 400;
    text-decoration-color: inherit;
  }

  & .main-products__scrollbar-wrap {
    position: absolute;
    top: calc(100vh * (870 / 1080));
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 2px;
    padding: 0 240px;
  }

  & .main-products__scrollbar {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
  }

  & .main-products__scrollbar-thumb {
    position: absolute;
    width: 100px;
    height: 100%;
    border-radius: 40px;
    background-color: #000;
  }
}

.main-bottom-text-banner {
  padding: 183px 10px 2px;
  background-color: #fff;

  & h2 {
    width: 1066px;
    color: #000;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    /* text-wrap: pretty; */
  }
}
/* 1440px */
