.de-banner-top {
  position: relative;
  width: 100%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
}
.de-banner-top a {
  transition: color 0.3s;
}
.de-banner-top a:hover {
  color: var(--color-gray-line);
}

#header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  transition: height 0.3s;
}
#header.fixed {
  height: 70px;
}
#header .header-wrap {
  position: relative;
  z-index: 102;
  width: 100%;
  min-width: 1280px;
  height: 90px;
  background: transparent;
  transition: height 0.3s, background 0.3s;
}
#header.fixed .header-wrap {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}
#header.fixed:not(.bg) .header-wrap,
#header:not(.bg):hover .header-wrap {
  background: rgba(245, 242, 233, 0.9);
}
#header .header-wrap .header-fix {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 1280px;
  padding: 0 var(--layout-padding);
  height: 100%;
  margin: 0 auto;
}

#header .btn-menu {
  all: unset;
  width: 30px;
  height: 20px;
  margin-right: 16px;
  cursor: pointer;
}
#header .btn-menu span {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 9px;
  background: var(--color-black);
  transform: rotate(0.001deg);
  transition: width 0.3s;
}
#header .btn-menu span:last-child {
  margin-bottom: 0;
}
#header .btn-menu:hover span:nth-child(2) {
  width: 22px;
}
#header .logo {
  position: relative;
  margin-right: 95px;
}
#header .logo > a {
  display: block;
}
#header .logo img {
  display: block;
}
#header .logo img:last-child {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#header .gnb {
  height: 100%;
}
#header .gnb .cate-list {
  display: flex;
  height: 100%;
  font-family: "Times New Roman", serif;
}
#header .gnb .cate-list > li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}
#header .gnb .cate-list > li > a {
  position: relative;
  font-size: 15px;
}
#header .gnb .cate-list > li .view {
  display: none;
}
#header .gnb .cate-list .depth2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 0;
  white-space: nowrap;
  text-align: center;
  background: rgba(245, 242, 233, 0.9);
}
#header .gnb .cate-list .depth2 li {
  padding: 8px 32px;
}
#header .gnb .cate-list .depth2 li a:hover {
  color: var(--color-darkgray);
}
#header .gnb .cate-list .depth3,
#header .gnb .cate-list .depth4 {
  display: none;
}
#header .gnb .cate-list .community {
  display: none;
}

#header .de-menu {
  position: absolute;
  right: var(--layout-padding);
  top: 0;
  height: 100%;
  margin-right: -12px;
}
#header .de-menu .menu-list {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
}
#header .de-menu .menu-list > li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
}
#header .de-menu .menu-list > li > a {
  position: relative;
}

#main #header {
  position: absolute;
}
#main #header:not(.fixed):not(:hover) {
  color: #fff;
}
#main #header:not(.fixed):not(:hover) .btn-menu span {
  background: #fff;
}
#main #header:not(.fixed):not(:hover) .logo img:last-child {
  opacity: 1;
}
#main #header:not(.fixed):not(:hover) .logo img:first-child {
  opacity: 0;
}

/* de-fnav */
.de-fnav {
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  width: 420px;
  height: 100%;
  background: rgba(245, 242, 233, 0.9);
  z-index: 104;
  overflow: hidden;
  overflow-y: auto;
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 0.9);
}
.de-fnav.on {
  transform: translateX(0);
}
.de-fnav + .nav-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 103;
  background: transparent;
}
.de-fnav.on + .nav-bg {
  display: block;
}
.de-fnav .inner {
  padding: 100px;
}

.de-fnav .fnav {
  padding-bottom: 40px;
}
.de-fnav .fnav .cate-list {
  font-family: "Times New Roman", serif;
}
.de-fnav .fnav .cate-list li,
.de-fnav .fnav .cate-list li a {
  position: relative;
}
.de-fnav .fnav .cate-list > li {
  margin-bottom: 24px;
}
.de-fnav .fnav .cate-list > li > a {
  display: inline-block;
  font-size: 18px;
}
.de-fnav .fnav .cate-list li > .view {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.de-fnav .fnav .cate-list li > .view::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "xeicon";
  content: "\e943";
  font-size: 16px;
  font-weight: bold;
}
.de-fnav .fnav .cate-list li.open > .view::before {
  content: "\e946";
}
.de-fnav .fnav .cate-list li.noChild .view {
  display: none;
}

.de-fnav .fnav .cate-list .depth2 li {
  margin-top: 20px;
  font-size: 15px;
}
.de-fnav .cate-list ul {
  display: none;
  padding-left: 20px;
}

.de-fnav .fmenu li {
  margin-bottom: 15px;
  font-size: 15px;
}
.de-fnav .fmenu li a {
  position: relative;
}

/* de-search */
.de-search {
  display: block;
}
.de-search {
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 0;
  width: 420px;
  height: 100%;
  background: rgba(245, 242, 233, 0.9);
  z-index: 104;
  overflow: hidden;
  overflow-y: auto;
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 0.9);
}
.de-search.on {
  transform: translateX(0);
}
.de-search + .search-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 103;
  background: transparent;
}
.de-search.on + .search-bg {
  display: block;
}
.de-search .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 80px 40px;
}

.de-search .keyword-wrap {
  position: relative;
}
.de-search .keyword-wrap #keyword {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border: 0;
  border-bottom: 1px solid var(--color-black);
  font-size: 20px;
  padding: 0 25px 0 0;
}
.de-search .keyword-wrap button {
  all: unset;
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
  font-size: 20px;
}

.de-search .hotkeyword {
  margin-top: 16px;
}
.de-search .title {
  font-size: 13px;
  color: var(--color-darkgray);
}
.de-search .list {
  margin-top: 15px;
}
.de-search .list li {
  margin-bottom: 8px;
  font-size: 16px;
}
.de-search .list li a:hover {
  color: var(--color-darkgray);
}

/* hover */
#header .cate-list > li > a::after,
#header .de-menu .menu-list > li > a::after,
.de-fnav a::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--color-black);
  transition: width 0.3s;
}
#header .cate-list > li:hover > a::after,
#header .de-menu .menu-list > li:hover > a::after,
.de-fnav a:hover::after {
  width: 100%;
}
