@charset "euc-kr";

/*검색 스위치  /* 부분 앞뒤 부분 주석 삭제 하면 화면 검색 부분 삭제 됨 */

/*
.de-search {
    display:none !important;
}
*/

 #sana ul:nth-of-type(2) {
    display: none !important;
}

#aside .de-cate .cate-list li:not(.noChild) > a{
  font-weight: bold;
}

.d-none{display:none;}
#cate64 > a {
	pointer-events:none;
}

.secretSaleText{
	display:none;
    margin: 15px 0;
}

@font-face{
    font-family:'Times New Roman';
    src: local('Times New Roman'),
         url('/web/upload/drawcode/fonts/times.ttf') format('truetype');
    font-weight: normal;
	/* unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;*/
}
@font-face{
    font-family:'Times New Roman';
    src: local('Times New Roman Bold'),
         url('/web/upload/drawcode/fonts/timesbd.ttf') format('truetype');
    font-weight: bold;
	/* unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;*/
}

/* Pretendard */
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Black"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Black.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Black.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard ExtraBold"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-ExtraBold.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-ExtraBold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Bold"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Bold.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Bold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard SemiBold"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-SemiBold.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-SemiBold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Medium"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Medium.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Medium.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Regular"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Regular.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Regular.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Light"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Light.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Light.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard ExtraLight"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-ExtraLight.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-ExtraLight.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Thin"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Thin.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Thin.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    unicode-range: U+AC00-D7A3; /* Only Korean*/
    src: local("Pretendard Thin"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Thin.woff2) format("woff2"), url(/web/upload/drawcode/fonts/pretendard/Pretendard-Thin.woff) format("woff");
  }
  
  /* Arsenal */
  @font-face {
    font-family: "Arsenal";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Arsenal"), url(/web/upload/drawcode/fonts/arsenal/Arsenal-Regular.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Arsenal";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local("Arsenal Bold"), url(/web/upload/drawcode/fonts/arsenal/Arsenal-Bold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Arsenal";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: local("Arsenal Italic"), url(/web/upload/drawcode/fonts/arsenal/Arsenal-Italic.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Arsenal";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: local("Arsenal Bold Italic"), url(/web/upload/drawcode/fonts/arsenal/Arsenal-BoldItalic.ttf) format("truetype");
  }
  
  
  :root {
    --font-main: 'Arsenal', 'Pretendard', sans-serif;
    --font-product: 'Arsenal',  'Pretendard', sans-serif;
    --layout-padding: 16px;
    --color-main: #111;
    --color-black: #111;
    --color-gray: #AAA;
    --color-darkgray: #999;
    --color-gray-line: #DFDFDF;
    --color-gray-bg: #F4F4F6;
}

/* reset */
* { box-sizing: border-box; }
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, button, p, blockquote, th, td { margin:0; padding:0;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
html { width:100%; height:100%; }
body, code { min-width:320px; font-size:13px; font-family: var(--font-main); color: var(--color-black); background:#fff; -webkit-text-size-adjust:none; }
code { background:none; display:block; }
ul li { list-style:none; }
ol { list-style-position:inside; }
img, fieldset{ border:none; }
img { vertical-align:middle; }
hr.layout { display:none; }
em, address { font-style:normal; }
ins { text-decoration:none; }
a { text-decoration:none; color: inherit; }
a:active { text-decoration:none; }
table { width:100%; table-layout:fixed; border:0 none; border-spacing:0; border-collapse:collapse; }
table td, table th { background-color: transparent; }
table caption { display:none; }
th, td { border:0; line-height:18px; }
legend { height:0; width:0; display:block; text-indent:-9999em; }
label { cursor:pointer; }
button { overflow: visible; border: 0; font-family: inherit; }
button::-moz-focus-inner { padding:0; border:0; }

/* html5 */
object, del, sub, var { margin:0; padding:0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }