.de-banner-top {
  position: relative;
  z-index: 102;
  width: 100%;
  padding: 8px;
  text-align: center;
  font-size: 11px;
}
.de-banner-top a {
  display: block;
}

#header {
  position: relative;
  z-index: 102;
  margin: 0 auto;
  width: 100%;
  height: 52px;
}
#header.fixed {
  height: 52px;
}
#header .header-wrap {
  position: relative;
  z-index: 102;
  width: 100%;
  height: 52px;
  background: transparent;
}
#header.fixed .header-wrap {
  position: fixed;
  z-index: 102;
  height: 52px;
  top: 0;
  left: 0;
  right: 0;
}
#header.fixed:not(.bg) .header-wrap {
  background-color: #f5f2e9;
}
#header .header-wrap .header-fix {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0 var(--layout-padding);
  height: 100%;
  margin: 0 auto;
}

#header .bars {
  all: unset;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}
#header .bars span {
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 7px;
  background: var(--color-black);
  transform: rotate(0.001deg);
  transition: opacity 0.4s, transform 0.4s;
}
#header .bars span:last-child {
  margin-bottom: 0;
}
#header .bars.move span:nth-child(1) {
  transform: rotate(45deg) translate(2px, 8px);
}
#header .bars.move span:nth-child(2) {
  opacity: 0;
}
#header .bars.move span:nth-child(3) {
  transform: rotate(-45deg) translate(3px, -9px);
}

#header .logo {
  position: relative;
}
#header .logo > a {
  display: block;
  position: relative;
}
#header .logo img {
  display: block;
  width: auto;
  max-height: 22px;
}
#header .logo img:last-child {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#header .de-cart {
  position: absolute;
  right: var(--layout-padding);
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

#main #header {
  position: absolute;
}
#main #header:not(.fixed):not(.on) {
  color: #fff;
}
#main #header:not(.fixed):not(.on) .bars span {
  background: #fff;
}
#main #header:not(.fixed):not(.on) .logo img:last-child {
  opacity: 1;
}
#main #header:not(.fixed):not(.on) .logo img:first-child {
  opacity: 0;
}
