@charset "utf-8";

/* layout */
#contents {
  position: relative;
  padding: 0 var(--layout-padding);
  min-height: calc(100vh - 430px);
  background-color: transparent;
}
.-narr {
  padding: 0 var(--layout-padding);
}

.btnTop {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  margin: 0 0 0 -36px;
  border: 1px solid #d6d6d7;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  opacity: 0.9;
  background: #616161
    url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_btntop.png")
    no-repeat 90% 7px;
  background-size: 12px 12px;
}
.btnTop a {
  display: inline-block;
  height: 29px;
  padding: 0 26px 0 10px;
  line-height: 29px;
  color: #fff;
}

#mobileQuickLink {
  z-index: 301 !important;
}
#mobileBtnQuickLink {
  z-index: 100 !important;
}

.dimmed {
  display: none;
  position: fixed;
  left: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  z-index: 150;
  background: rgba(0, 0, 0, 0.7);
}
#dimmedSlider {
  display: none;
  position: fixed;
  left: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
}

/**
 * Swiper 8.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 4, 2022
**/
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0; /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-scrollbar-horizontal {
  position: relative;
  -ms-touch-action: none;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background: rgba(17, 17, 17, 0.15);
}
.swiper-scrollbar-horizontal .swiper-scrollbar-drag {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
}
.swiper-scrollbar-horizontal .swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-horizontal .swiper-scrollbar-lock {
  display: none;
}

/* 메인 검색 */
#main .searchWrap {
  position: relative;
  height: 38px;
  padding: 5px 41px 0 47px;
}
#main .searchWrap .searchForm {
  position: relative;
  padding: 0 28px 0 33px;
  border: 1px solid #ccc;
  background: url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/bg_search.png")
    no-repeat 5px 5px;
  background-size: 20px 20px;
}
#main .searchWrap .btnDelete {
  position: absolute;
  right: 3px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  text-indent: 100%;
  font-size: 0;
  white-space: nowrap;
  background: url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/btn_delete.png")
    no-repeat 0 0;
  background-size: 20px 20px;
}
#main .searchWrap #keyword {
  width: 100%;
  padding: 0;
  border: 0;
}

/* 메인 카테고리*/
#main #header #topArea .xans-layout-mobilemaincategory {
  position: relative;
  height: 43px;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}
#main #header #topArea .xans-layout-mobilemaincategory ul {
  display: inline-block;
  width: 100%;
  padding: 0;
  text-align: left;
  font-size: 0;
  line-height: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main #header #topArea .xans-layout-mobilemaincategory ul li {
  display: inline-block;
  width: 33.3%;
  font-size: 13px;
  text-align: center;
}

/* 메인 스와이프 */
#main #header #topArea .xans-layout-mobilemaincategory .afterNone {
  display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul {
  display: table;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li {
  width: 100%;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul {
  padding: 0 40px;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li {
  border-bottom: 3px solid #fff;
  width: 33%;
}
#main
  #header
  #topArea
  .xans-layout-mobilemaincategory
  > ul
  > li
  > ul
  li.selected {
  border-bottom-color: #217bdb;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 22px 0 18px;
  font-weight: bold;
  color: #9a9a9a;
}
#main
  #header
  #topArea
  .xans-layout-mobilemaincategory
  > ul
  > li
  > ul
  li.selected
  a {
  color: #217bdb;
}
#main #header #topArea .xans-layout-mobilemaincategory > ul > li > ul li a img {
  max-height: 40px;
}
#main #header #topArea .xans-layout-mobilemaincategory p {
  position: absolute;
  top: 0;
  background-color: #fff;
}
#main #header #topArea .xans-layout-mobilemaincategory p.btnPrev {
  left: 0;
  display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory p.btnNext {
  right: 0;
  display: none;
}
#main #header #topArea .xans-layout-mobilemaincategory p a {
  display: inline-block;
  padding: 13px 14px;
}

/* 메인 배너 */
#main .mainBanner {
  position: relative;
}
#main .mainBanner a img {
  max-height: 290px;
}
#main .mainBanner .ec-base-paginate {
  position: absolute;
  bottom: 8px;
  z-index: 10;
  width: 100%;
}
#main .mainBanner .afterNone {
  display: none;
}

/* 메인 기능버튼 */
#main .funcArea {
  margin: 0 0 10px 0;
  padding: 6px;
  text-align: right;
  background-color: #fff;
}
#main .funcArea .btnSearchdata {
  width: 33px;
  height: 29px;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: url(//img.echosting.cafe24.com/skin/mobile/layout/btn_searchdata.gif)
    no-repeat 0 0;
  background-size: 33px 29px;
}

/* 타이틀 */
#titleArea {
  position: relative;
  margin: 38px 0 40px;
}
#titleArea h2 {
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  font-weight: normal;
}
#titleArea span {
  display: none;
  position: absolute;
  top: 6px;
  left: 14px;
}

/* 마이쇼핑 메인 */
.myshopMain {
  padding: 14px 7px;
  font-size: 13px;
}
